.error-page {
  background-color: #f8f8f8;
  height: 932px;
  width: 100%;
  display: flex;
  justify-content: center;

  .error-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    height: 100%;
    .error-title {
      font-size: 140px;
      color: #878787;
      margin-top: 300px;
    }
    .error-description {
      color: #4f4f4f;
      font-size: 23px;
      font-weight: 900;
      transform: translateY(-70px);
    }
    .error-button-link {
      text-decoration: none;
      .error-button {
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 180px;
        height: 60px;
        border: solid 1px #ddd;
        border-radius: 20px;
        font-size: 21px;
        color: #797979;
        transform: translateY(-70px);
        transition: 500ms;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}
