<footer class="footer">
     <div class="footer-left-side">
    <a href="https://emis.ge/"> <img class="footer-image" src="https://skolebi.emis.ge/assets/icons/logo-emis.png" alt="">
    </a>
     <p class="footer-title">© Copyright 2012-2024. All rights reserved</p>
     </div>
     <div class="footer-right-side">

      <div class="footer-cards-container">

        <div class="footer-card">
            <div class="icon-and-title-container">
                <div class="footer-icon"><i class="bi bi-envelope-fill"></i></div>
                <p class="footer-card-title">ელექტრონული ფოსტა</p>
            </div>
            <a class="footer-link" href="mailto:info@emis.ge">info&#64;emis.ge</a>
            <a class="footer-link" href="mailto:Info.nsm@mes.gov.ge">Info.nsm&#64;mes.gov.ge</a>
        </div>

        <div class="footer-card">
            <div class="icon-and-title-container">
                <div class="footer-icon"><i class="bi bi-telephone-fill"></i></div>
                <p class="footer-card-title">ტელეფონის ნომერი</p>
            </div>
            <a class="footer-link" href="https://nomrebi.com/company/76-ministry-of-education-and-science-of-georgia">0322200220</a>
          
        </div>

        <div class="footer-card">
            <div class="icon-and-title-container">
                <div class="footer-icon"><i class="bi bi-geo-alt-fill"></i></div>
                <p class="footer-card-title">მისამართი</p>
            </div>
            <a class="footer-link" href="https://www.google.com/maps/place/EMIS,+%E1%83%92%E1%83%90%E1%83%9C%E1%83%90%E1%83%97%E1%83%9A%E1%83%94%E1%83%91%E1%83%98%E1%83%A1+%E1%83%9B%E1%83%90%E1%83%A0%E1%83%97%E1%83%95%E1%83%98%E1%83%A1+%E1%83%A1%E1%83%90%E1%83%98%E1%83%9C%E1%83%A4%E1%83%9D%E1%83%A0%E1%83%9B%E1%83%90%E1%83%AA%E1%83%98%E1%83%9D+%E1%83%A1%E1%83%98%E1%83%A1%E1%83%A2%E1%83%94%E1%83%9B%E1%83%90/@41.7302612,44.7642348,17z/data=!4m14!1m7!3m6!1s0x404472e73ac8b2d9:0x59b3fdeb0c974075!2zRU1JUywg4YOS4YOQ4YOc4YOQ4YOX4YOa4YOU4YOR4YOY4YOhIOGDm-GDkOGDoOGDl-GDleGDmOGDoSDhg6Hhg5Dhg5jhg5zhg6Thg53hg6Dhg5vhg5Dhg6rhg5jhg50g4YOh4YOY4YOh4YOi4YOU4YOb4YOQ!8m2!3d41.7302612!4d44.7668151!16s%2Fg%2F11cmycqn20!3m5!1s0x404472e73ac8b2d9:0x59b3fdeb0c974075!8m2!3d41.7302612!4d44.7668151!16s%2Fg%2F11cmycqn20?entry=ttu">თბილისი, ფანჯიკიძის # 1</a>
            
        </div>
      </div>
     </div>
</footer>