<app-mini-nav-bar></app-mini-nav-bar>
<main class="main-side">
    <p class="main-title">განათლების სექტორთან დაკავშირებული ინფორმაცია</p>
    <div class="icon-and-title-container">
      <div class="main-first-card-cube">
          <div class="main-first-card-icon">
            <i class="bi bi-printer-fill"></i>
          </div>
        </div>
        <h1 class="main-icon-title">ეროვნული სასწავლო გეგმა</h1>
    </div>
    <p class="description-title">მოკლე აღწერა</p>
    <p class="description">ეროვნული სასწავლო გეგმა ეფუძნება „ზოგადი განათლების ეროვნული მიზნებს“ და უზრუნველყოფს მათ მიღწევას / რეალიზებას და განსაზღვრავს:სწავლა-სწავლების მისიას, მიზნებსა და შინაარსობრივ პრიორიტეტებს განათლების სხვადასხვა საფეხურზე; სწავლა-სწავლებისა და შეფასების პრინციპებს;სასწავლო პროცესის ორგანიზებასთან დაკავშირებულ ცალკეულ საკითხებს.ეროვნული სასწავლო გეგმის პირველი თავი სავალდებულოა ყველა ზოგადსაგანმანათლებლო დაწესებულებისთვის (საჯარო,კერძო), ხოლო მეორე თავი - საჯარო სკოლებისთვის. ეროვნული სასწავლო გეგმის მისია, მიზნები და შინაარსობრივი პრიორიტეტები შეეხება ზოგადი განათლების სამივე საფეხურს (დაწყებითს, საბაზოს, საშუალოს).</p>
</main>
<app-footer></app-footer>