<app-mini-nav-bar></app-mini-nav-bar>
<main class="main">
    <div class="main-first-side">
         <h1 class="first-side-title">ზოგადი განათლება</h1>
         <p class="first-side-description">ზოგადი განათლება სატესტო</p>
    </div>
    <div class="main-second-side">
         <div class="main-container">
             <div class="circle">
                <div class="black-circle">
                    <p>i</p>
                </div>
             </div>
             <p class="title">ინფორმაცია არ მოიძებნა</p>
             <p class="description">ამ ეტაპისთვის ხელმისაწვდომი ინფორმაცია არ მოიძებნა</p>
             <a class="link" href="/main">
                <button class="back-button">
                    <i class="bi bi-house-door-fill"></i>
                    მთავარ გვერდზე დაბრუნება
                </button>
             </a>
         </div>
    </div>
  </main>
  <app-footer></app-footer>