<app-mini-nav-bar></app-mini-nav-bar>
<main class="main-side">
    <p class="main-title">განათლების სექტორთან დაკავშირებული ინფორმაცია</p>
    <div class="icon-and-title-container">
      <div class="main-first-card-cube">
          <div class="main-first-card-icon">
            <i class="bi bi-buildings-fill"></i>
          </div>
        </div>
        <h1 class="main-icon-title">სკოლების თვითშეფასება</h1>
    </div>
    <p class="description-title">მოკლე აღწერა</p>
    <p class="description">ზოგადსაგანმანათლებლო დაწესებულების სტატუსის მაძიებლის თვითშეფასების ფორმა</p>
    <p class="title">ბმულები</p>
    <div class="bmulebi-container">
      <div class="cube">
        <p class="cube-title">HTTP</p>
      </div>
      <a class="link" href="https://emis.ge/">emis.ge</a>
    </div>
</main>
<app-footer></app-footer>