<nav id="nav-bar" class="nav-bar">
    <div class="nav-bar-content">
      <div class="main-nav-bar">
          <div class="main-nav-bar-left-side">
                <a href="/main"> <img class="main-nav-bar-image" src="https://skolebi.emis.ge/assets/icons/logo.png" alt="საქართველოს გერბი">  </a>
          </div>
          <div class="main-nav-bar-right-side">
                   <div class="main-nav-bar-navigation">

                       <a class="main-nav-bar-link" href="/main">
                          <div class="nav-bar-icon">  <i class="bi bi-house-door-fill"></i></div>
                          <p class="nav-bar-link-title">მთავარი</p>
                          <div class="nav-bar-line"></div>
                       </a>

                       <a class="main-nav-bar-second-link" href="/education">
                          <div class="nav-bar-icon"> <i class="bi bi-mortarboard-fill"></i></div>
                          <p class="nav-bar-link-title">ზოგადი განათლება</p>
                          <div class="nav-bar-line"></div>
                       </a>

                       <a class="main-nav-bar-link" href="/schools">
                          <div class="nav-bar-icon"> <i class="bi bi-buildings-fill"></i> </div>
                          <p class="nav-bar-link-title">სკოლები</p>
                          <div class="nav-bar-line"></div>
                       </a>

                       <a class="main-nav-bar-second-link" href="/legislation">
                          <div class="nav-bar-icon"> <i class="bi bi-duffle-fill"></i> </div>
                          <p class="nav-bar-link-title">კანონმდებლობა</p>
                          <div class="nav-bar-line"></div>
                       </a>
                   </div>
                  
          </div>
      </div>

     
    </div>
</nav>

