$first-color: rgb(203, 255, 231);
$second-color: rgba(0, 150, 82, 0.358);

@keyframes border {
  0% {
    border-left-color: #000;
    border-right-color: #000;
  }
  50% {
    border-left-color: #333;
    border-right-color: #333;
  }
  100% {
    border-right-color: #616161;
    border-left-color: #656565;
  }
}

.nav-bar {
  width: 99.9%;
  height: 170px;
  border: solid 1px $first-color;
  background-color: rgb(203, 255, 231);
  .nav-bar-content {
    border: solid 10px black;
    border-radius: 30px;
    margin: 15px;
    width: 1635px;
    height: 135px;
    border-bottom-color: transparent;
    border-left-color: #333;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: border 10s infinite;
    .main-nav-bar {
      margin: 20px;
      width: 1600px;
      height: 100px;
      display: flex;
      .main-nav-bar-left-side {
        width: 40%;
        display: flex;
        margin-left: 20px;
        align-items: center;
        .main-nav-bar-image {
          width: 350px;
          height: 75px;
          transition: 500ms;
          &:hover {
            scale: 101%;
          }
        }
      }
      .main-nav-bar-right-side {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-nav-bar-navigation {
          background-color: #9cc7be;
          border-radius: 15px;
          width: 630px;
          height: 58px;
          margin-left: 200px;
          display: flex;
          align-items: center;
          gap: 2px;
          padding-left: 10px;
          padding-right: 10px;
          .main-nav-bar-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 115px;
            gap: 10px;
             transition: 500ms;
            &:hover {
              background-color: $second-color;
              border-radius: 10px;
            }
            .nav-bar-icon {
              font-size: 20px;
              color: #333;
              transition: 300ms;
              &:hover {
                color: #000;
              }
            }
            .nav-bar-link-title {
              font-size: 14px;
              color: #333;
              transition: 300ms;
              font-weight: 800;
              &:hover {
                color: #000;
              }
            }
          
          }
          
          .main-nav-bar-second-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 500ms;
            width: 190px;
            gap: 10px;
            &:hover {
              background-color: $second-color;
              border-radius: 10px;
            }
            .nav-bar-icon {
              font-size: 20px;
              color: #333;
              transition: 300ms;
              &:hover {
                color: #000;
              }
            }
            .nav-bar-link-title {
              font-size: 14px;
              color: #333;
              transition: 300ms;
              font-weight: 800;
              &:hover {
                color: #000;
              }
            }
            
          }
          .nav-bar-line {
            background-color: #333;
            width: 1px;
            height: 20px;
            margin-left: 10px;
            height: 20px;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
   
  }
}
