<app-mini-nav-bar></app-mini-nav-bar>
<main class="main-side">
    <p class="main-title">განათლების სექტორთან დაკავშირებული ინფორმაცია</p>
    <div class="icon-and-title-container">
      <div class="main-first-card-cube">
          <div class="main-first-card-icon">
            <i class="bi bi-book"></i>
          </div>
        </div>
        <h1 class="main-icon-title">საქართველოს განათლების სისტემა</h1>
    </div>
    <p class="description-title">მოკლე აღწერა</p>
    <p class="description">საქართველოში განათლების მიღებისა და მისი ფორმის არჩევის უფლება კონსტიტუციითაა გარანტირებული. (საქართველოს კონსტიტუცია, მუხლი 27)1. ყველას აქვს განათლების მიღებისა და მისი ფორმის არჩევის უფლება.2. სკოლამდელი აღზრდა და განათლება უზრუნველყოფილია კანონით დადგენილი წესით. დაწყებითი და საბაზო განათლება სავალდებულოა. ზოგად განათლებას კანონით დადგენილი წესით სრულად აფინანსებს სახელმწიფო. მოქალაქეებს უფლება აქვთ კანონით დადგენილი წესით სახელმწიფოს დაფინანსებით მიიღონ პროფესიული და უმაღლესი განათლება.3. აკადემიური თავისუფლება და უმაღლესი საგანმანათლებლო დაწესებულებების ავტონომია უზრუნველყოფილია.﻿საქართველოში სრულ ზოგად განათლებას აქვსსამი საფეხური: დაწყებითი (6 წელი: I-IV კლ.; V-VIკლ.), საბაზო (3 წელი: VII-IXკლ.) და საშუალო (3 წელი: X-XIIკლ.).ზოგადი განათლების მიცემის უფლებას სასწავლო დაწესებულებებს სახელმწიფო ანიჭებს. ამისთვის სასწავლო დაწესებულებამ სპეციალური პროცედურა -ავტორიზაციაუნდა გაიაროს.</p>
    <p class="title">ბმულები</p>
    <div class="bmulebi-container">
      <div class="cube">
        <p class="cube-title">HTTP</p>
      </div>
      <a class="link" href="https://mes.gov.ge/">mes.gov.ge</a>
    </div>
</main>
<app-footer></app-footer>