<app-mini-nav-bar></app-mini-nav-bar>
<main class="main-side">
    <p class="main-title">განათლების სექტორთან დაკავშირებული ინფორმაცია</p>
    <div class="icon-and-title-container">
      <div class="main-first-card-cube">
          <div class="main-first-card-icon">
            <i class="bi bi-mortarboard-fill"></i>
          </div>
        </div>
        <h1 class="main-icon-title">ზოგადი განათლების ეროვნული მიზნები</h1>
    </div>
    <p class="description-title">მოკლე აღწერა</p>
    <p class="description">საქართველოში ზოგადი განათლების სისტემა მიზნად ისახავს შექმნას ხელსაყრელი პირობები ეროვნული და ზოგადსაკაცობრიო ღირებულებების მატარებელი, თავისუფალი პიროვნების ჩამოყალიბებისათვის. განათლების სისტემა უვითარებს მოზარდს გონებრივ და ფიზიკურ უნარ-ჩვევებს, აძლევს საჭირო ცოდნას, ამკვიდრებს ჯანსაღი ცხოვრების წესს, მოსწავლეებს უყალიბებს ლიბერალურ და დემოკრატიულ ღირებულებებზე დამყარებულ სამოქალაქო ცნობიერებას და ეხმარება მათ ოჯახის, საზოგადოებისა და სახელმწიფოს წინაშე საკუთარი უფლება-მოვალეობების გაცნობიერებაში. (საქართველოს მთავრობის დადგენილება N84).სახელმწიფო უზრუნველყოფს თითოეული მოსწავლის (მათ შორის, სპეციალური საგანმანათლებლოსაჭიროების მქონე მოსწავლის) მიერ ზოგადი განათლების თავის საცხოვრებელ ადგილთან მაქსიმალურად ახლოს, სახელმწიფო ან მშობლიურ ენაზე მიღების უფლებას, საჯარო სკოლაში ჯანმრთელობისთვის უსაფრთხო გარემოს შექმნას. ზოგადი განათლების მიღება შეიძლება ექსტერნატის ფორმით.(საქართველოს კანონი ზოგადი განათლების შესახებ).</p>
</main>
<app-footer></app-footer>