<app-mini-nav-bar></app-mini-nav-bar>
<main class="main">
  <div class="main-first-side">
       <h1 class="first-side-title">ზოგადი განათლება</h1>
       <p class="first-side-description">ზოგადი განათლება სატესტო</p>
  </div>
  <div class="main-second-side">
       <p class="right-side-title">თემატური ბმულები</p>
       <div class="main-cards-container">
         <div class="main-card">
            <p class="main-card-title">21 ივნისი, 2023 წელი</p>
            <div class="main-card-content">
                <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
                <h2 class="card-title">ინკლუზიური განათლება</h2>
                <p class="description">ინკლუზიური განათლება არის სპეციალური საგანმანათლებლო საჭიროების მქონე მოსწავლის ჩართვა ზოგადსაგანმანათლებლო პროცესში თანატო ...</p>
            </div>
         </div>

         <div class="main-card">
            <p class="main-card-title">24 მაისი, 2023 წელი</p>
            <div class="main-card-content">
                <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
                <h2 class="card-title">ეროვნული სასწავლო გეგმა</h2>
                <p class="description">ეროვნული სასწავლო გეგმა (ესგ) ზოგადი განათლების ეროვნული მიზნების მიღწევის ერთ-ერთი ძირითადი საშუალებაა. დოკუმენტს შეიმუშავებს ...</p>
            </div>
         </div>
       </div>
  </div>
</main>
<app-footer></app-footer>