<nav id="nav-bar" class="nav-bar">
    <div class="nav-bar-content">
      <div class="main-nav-bar">
          <div class="main-nav-bar-left-side">
                <a href="/main"> <img class="main-nav-bar-image" src="https://skolebi.emis.ge/assets/icons/logo.png" alt="საქართველოს გერბი">  </a>
          </div>
          <div class="main-nav-bar-right-side">
                   <div class="main-nav-bar-navigation">

                       <a class="main-nav-bar-link" href="/main">
                          <div class="nav-bar-icon">  <i class="bi bi-house-door-fill"></i></div>
                          <p class="nav-bar-link-title">მთავარი</p>
                         
                       </a>
                       <div class="nav-bar-line"></div>
                       <a class="main-nav-bar-second-link" href="/education">
                          <div class="nav-bar-icon"> <i class="bi bi-mortarboard-fill"></i></div>
                          <p class="nav-bar-link-title">ზოგადი განათლება</p>
                         
                       </a>
                       <div class="nav-bar-line"></div>
                       <a class="main-nav-bar-link" href="/schools">
                          <div class="nav-bar-icon"> <i class="bi bi-buildings-fill"></i> </div>
                          <p class="nav-bar-link-title">სკოლები</p>
                         
                       </a>
                       <div class="nav-bar-line"></div>
                       <a class="main-nav-bar-second-link" href="/legislation">
                          <div class="nav-bar-icon"> <i class="bi bi-duffle-fill"></i> </div>
                          <p class="nav-bar-link-title">კანონმდებლობა</p>
                         
                       </a>
                      
                   </div>
                  
          </div>
      </div>

      <div class="nav-bar-main-side">
          <div class="main-title-section">
                    <h1 class="main-first-title">მოძებნე სკოლა</h1>
                    <h1 class="main-second-title">საქართველოს მაშტაბით</h1>
          </div>
          
         <div class="search-container">
             <p class="search-container-title">დეტალური ძებნა</p>
             <p class="search-container-description">სკოლის მოძებნა შესაძლებელია საძიებო ველისა და რუკის დახმარებით</p>
             <div class="filter-container">
                        <!-----------  DROPDOWN  --------------->
                        <div class="dropdown">
                           <div class="select">
                             <span class="selected">აჭარა</span>
                             <div class="caret"></div>
                           </div>
                           <ul class="menu">
                             <div class="menu-title-side">
                               <h2 class="menu-title">რეგიონები</h2>
                             </div>
                             <div class="menu-first-container">
                               <li><a href="/tbilisi">თბილისი</a></li>
                               <li><a href="/apxazia">აფხაზეთი</a></li>                          
                             </div>
                             <div class="menu-first-container">
                              <li><a href="/adjara">აჭარა</a></li>
                               <li><a href="/guria">გურია</a></li>
                            </div>
                             <div class="menu-first-container">                             
                               <li><a href="/imereti">იმერეთი</a></li>
                               <li><a href="/kaxeti">კახეთი</a></li>
                             </div>                                 
                             <div class="menu-third-container">
                               <li><a href="/mcxeta">მცხეთა-მთიანეთი</a></li>
                               <li><a href="/racha">რაჭა-ლეჩხუმი და ქვემო სვანეთი</a></li>
                             </div>        
                             <div class="menu-third-container">                             
                              <li><a href="/samegrelo">სამეგრელო ზემო-სვანეთი</a></li>
                              <li><a href="/javaxeti">სამცხე-ჯავახეთი</a></li>
                            </div> 
                             <div class="menu-first-container">                             
                               <li><a href="/qvemoqartli">ქვემო ქართლი</a></li>
                               <li><a href="/shidaqartli">შიდა ქართლი</a></li>
                             </div>
                           </ul>
                         </div>
                        <!-----------  DROPDOWN  --------------->
                        <!-----------  SECOND--DROPDOWN  --------------->
                        <div class="third-dropdown">
                           <div class="select">
                             <span class="selected">საგანმანათლებლო მროგრამები</span>
                             <div class="caret"></div>
                           </div>
                           <ul class="menu">
                              <div class="menu-title-side">
                                <h2 class="menu-title">საგანმანათლებლო მროგრამები</h2>
                              </div>
                              <div class="third-dropwdown-main-checkbox-container">
                                <input id="main-checkbox" class="main-checkbox" type="checkbox">
                                <p class="main-checkbox-title">ყველა საგანმანათლებლო პროგრამა</p>
                              </div>
                              <div class="first-container">
                                <input id="first-checkbox-1" class="first-checkbox" type="checkbox">
                                <p>დაწყებითი (1-6)</p>
                            
                                <input id="first-checkbox-2" class="first-checkbox" type="checkbox">
                                <p>საბაზისო (7-9)</p>
                            
                                <input id="first-checkbox-3" class="first-checkbox" type="checkbox">
                                <p>საშუალო (10-12)</p>
                              </div>
                            </ul>
                         </div>
                        <!-----------  SECOND--DROPDOWN  --------------->
                        <!-----------  FOURTH--DROPDOWN  --------------->
                         <div class="fourth-dropdown">
                           <div class="select">
                             <span class="selected">სექტორი</span>
                             <div class="caret"></div>
                           </div>
                           <ul class="menu">
                              <div class="menu-title-side">
                                <h2 class="menu-title">სექტორი</h2>
                              </div>
                              <div class="line"></div>
                              
                              <!-- Main Checkbox Container -->
                              <div class="menu-main-checkbox-container">
                                <input id="menu-main-checkbox" type="checkbox" class="menu-main-checkbox">
                                <p class="menu-checkbox-title">ყველა სექტორი</p>
                              </div>
                              
                              <!-- First Container -->
                              <div class="menu-first-container">   
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-01">
                                  <p>ქართული</p>
                                </div>
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-02">
                                  <p>რუსული</p>
                                </div>
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-03">
                                  <p>სომხური</p>
                                </div>
                              </div>
                              
                              <!-- Second Container -->
                              <div class="menu-second-container">   
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-04">
                                  <p>უკრაინული</p>
                                </div>
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-05">
                                  <p>აზერბაიჯანული</p>
                                </div>
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-06">
                                  <p>ინგლისური</p>
                                </div>
                              </div>
                              
                              <!-- Third Container -->
                              <div class="menu-third-container">   
                                <div class="first-checkbox-container">
                                  <input class="first-checkbox0" type="checkbox" id="first-checkbox-07">
                                  <p>გერმანული</p>
                                </div>
                              </div>
                            </ul>
                            
                            
                         </div>
                        <!-----------  FOURTH--DROPDOWN  --------------->             
                        <div class="search-input-icon"><i class="bi bi-search"></i></div>
                        <input id="search-input" class="search-school-input" type="text" placeholder="გამოიყენე ძებნა"
                        [(ngModel)]="searchQuery">                
             </div>
             <div class="bottom-container">
                <div class="bottom-container-left-side">
                   
                </div>
                <div class="bottom-container-right-side">
                  <button id="clear-button" class="clear-button" (click)="clearSearch()">გასუფთავება</button>
                 
                  <button id="search-schools" class="search-button" (click)="searchSchools()">
                     <i class="bi bi-search"></i>
                     ძებნა
                   </button>
                   <p id="search-input-error" class="searchErrorMessage"></p>
                </div>
             </div>
         </div>
      </div>
    </div>
</nav>
<div id="schools-section" class="schools-section">
  <div class="schools-section-title-container">
     <p class="schools-section-title">მოიძებნა</p>
     <p class="schools-section-title-number">{{ schools.length }}</p>
     <p class="schools-section-second-title">სკოლა</p>
     <div class="full-schools-container">
      <p class="full-schools-number">სულ</p>
      <p class="schools-section-title-number">2296</p>
      <p class="schools-section-second-title">სკოლა</p>
     </div>
    
  </div>
  <div class="schools-container">
     <div class="school-card" *ngFor="let school of schools">
        <div class="school-card-icon-container">
           <div class="school-card-school-icon"><i class="bi bi-buildings-fill"></i></div>
           <p class="school-type">{{ school.schoolType === 'PUBLIC' ? 'საჯარო სკოლა' : 'კერძო სკოლა' }}</p>
        </div>    
        <a [routerLink]="['/schools', school.id]">
         <img id="school-image" class="school-image" [src]="school.imageURL" alt="School Image">
       </a>
        <div class="school-region-and-districtName-container">
           <div class="school-map-icon"><i class="bi bi-geo-alt-fill"></i></div>
           <p class="school-region-name">{{ school.regionName }},</p>
           <p class="school-districtName">{{ school.districtName }}</p>
        </div>      
        <p class="school-title">{{ school.name }}</p>
        <div class="school-card-description-container">
           <div class="result-first-container-first-side">
              <div class="result-first-container-first-side-left-side">
                 <div class="result-first-container-first-side-left-side-cube">
                    <div class="result-first-container-first-side-left-side-cube-icon">
                       <i class="bi bi-envelope-fill"></i>
                    </div>
                 </div>
              </div>
              <div class="result-first-container-first-side-right-side">
                 <p class="skolis-tipi">ელ.ფოსტა</p>
                 <p class="school-type">{{ school.email }}</p>
              </div>
           </div>
           <div class="result-first-container-third-side">
              <div class="result-first-container-first-side-left-side">
                 <div class="result-first-container-first-side-left-side-cube">
                    <div class="result-first-container-first-side-left-side-cube-icon">
                       <i class="bi bi-buildings-fill"></i> 
                    </div>
                 </div>
              </div>
              <div class="result-first-container-first-side-right-side">
                 <p class="skolis-tipi">ნომერი</p>
                 <p class="school-type">{{ school.phoneNumber }}</p>
              </div>
           </div>
        </div>
        
      <a class="inside-page-link-button" [routerLink]="['/schools', school.id]"> <button class="school-card-button">დათვალიერება</button>
      </a> 
     </div>
  </div>
  
</div>
<div class="more-button-container">
   <button (click)="showMoreSchools()" class="more-button">მაჩვენე მეტი</button>
</div>
<app-footer></app-footer>
